{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- style tag -->
<style>
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .card{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
</style>
<!-- style tag end -->

<!-- profile card begin -->
    {% if users.is_teacher and users.is_authenticated %}
    <div class=" container">
    <div class="card mx-3" style="width: 20rem;">
        <img src="{{teachers.profile_img.url}}" class="card-img-top mt-4" style="border-radius: 50%; width: 9rem; height: 9rem; border: 1px solid black; margin: auto;">
        <hr>
        <div class="card-body">
          <h5 class="m-0 text-center">{{users.first_name}} {{users.last_name}}</h5>
          <p class="mb-1 text-center"><small>{{teachers.teacher_id}}</small></p>
          <p>Email : {{users.email}}</p>
          <p>Mobile No. : {{teachers.contact_number}}</p>
          <p>Class : {{teachers.class_taught}}</p>
          <p>Subjects : {{teachers.subject}}</p>
        </div>
      </div>
    </div>
    {% endif %}
<!-- profile card end -->

{% endblock %} 